replicaCount: 2

domain: api.staging.rail-platform.com

image:
  tag: "develop"

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  minReplicas: 2
  maxReplicas: 5

ingress:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
